#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:

	parameters:
		selectionsNamespace: '\PNAdmin'
	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: PNAdmin\Error

		database:
			dsn: 'mysql:host=localhost;dbname=cuba'
			user: 'root'
			password:

		session:
			expiration: 14 days


	services:
		nette.presenterFactory: \PNAdmin\PresenterFactory(%appDir%)
		authenticator: \PNAdmin\Authenticator
		routerFactory: \PNAdmin\RouterFactory
		selectionsFactory: \PNAdmin\SelectionFactory(%selectionsNamespace%)
		router: @routerFactory::createRouter

		admin:
			class: \PNAdmin\Selections\PresentableSelection
			factory: @selectionsFactory::create('admin_user')
		offer:
			class: \PNAdmin\Selections\PresentableSelection
			factory: @selectionsFactory::create('offer')
		offerVariant:
			class: \PNAdmin\Selections\PresentableSelection
			factory: @selectionsFactory::create('offer_variant')
		sale:
			class: \PNAdmin\Selections\PresentableSelection
			factory: @selectionsFactory::create('sale')
		paymentReturn:
			class: \PNAdmin\Selections\PresentableSelection
			factory: @selectionsFactory::create('payment_return')
		voucher:
			class: \PNAdmin\Selections\PresentableSelection
			factory: @selectionsFactory::create('voucher')
		comment:
			class: \PNAdmin\Selections\PresentableSelection
			factory: @selectionsFactory::create('comment')
		translator: \Translator('translation', @nette.database.default, %selectionsNamespace%)

		tables:
			class: \PNAdmin\Selections\PresentableSelectionContainer
			setup:
				- addSelection(@admin)
				- addSelection(@offer)
				- addSelection(@offerVariant)
				- addSelection(@sale)
				- addSelection(@paymentReturn)
				- addSelection(@voucher)
				- addSelection(@comment)
				- addSelection(@translator)

production < common:

development < common:
