#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:

	parameters:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: PNAdmin\Error

		database:
			dsn: 'mysql:host=localhost;dbname=cuba'
			user: 'root'
			password:

		session:
			expiration: 14 days


	services:
		nette.presenterFactory: \PNAdmin\PresenterFactory(%appDir%)
		authenticator: \PNAdmin\Authenticator
		routerFactory: \PNAdmin\RouterFactory
		router: @routerFactory::createRouter

		admin: \PNAdmin\PresentableSelection('admin_user')
		offer: \PNAdmin\PresentableSelection('offer')
		offerVariant:  \PNAdmin\PresentableSelection('offer_variant')
		sale:  \PNAdmin\PresentableSelection('sale')
		paymentReturn:  \PNAdmin\PresentableSelection('payment_return')
		voucher:  \PNAdmin\PresentableSelection('voucher')
		comment:  \PNAdmin\PresentableSelection('comment')
		translator:  \PNAdmin\Translator('translation')

		tables: \PNAdmin\TablePresentation(
			@admin, @offer, @offerVariant, @sale, @paymentReturn, @voucher,
			@comment, @translator
			)

production < common:

development < common:
